points-to-be-noted.js
sandboxSpace.js
.DS_Store
spartan-dark-utils-old.js
scratchpad.js
pot17_final.ptau
scratchpad.txt
launch.json
circuit_js
node_modules
circuit.r1cs
circuit.sym
circuit_0000.zkey
circuit_0001.zkey
pot15_final.ptau
spartan-dark-transaction.js
circuit_exp.circom
prepare_circuit_time_map.py